@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f4f3f3;
    font-family: 'Roboto', sans-serif;
}

#menupage {
    background-color: #7a7a7a;
    text-align: center;
    width: 100%;
    height: 153px;
    position: fixed;
    display: block;
    z-index: 1;
}

#menupage ul {
    list-style-type: none;
    margin: auto;

}

#menupage li {
    display: inline-block;
    float: none;
    font-size: 24px;
    padding-top: 60px;
}

#menupage a {
    text-decoration: none;
    color: #f5f1e4;
    padding: 10px 20px 10px 20px;
}

#menupage a:hover {
    background-color: #f5f1e4;
    color: #7a7a7a;
}

/* need fix this one */
#menupage a.active {
    border-bottom: 3px solid #f5f1e4;
}

/* Head logo */
#menupage img {
    float: left;
    width: 155px;
    height: 153px;
}

#menupage #head_logo {
    float: left;
}

/* Selection of pages */
section {
    width: 100%;
    height: auto;
    padding-top: 153px;

}

/* Home Section */
section#home {
    background-color: #cdc3c3;
}

#home_wrapper {
    width: 80%;
    height: 800px;
    clear: both;
    margin: auto;
    margin-top: 120px;
}

#home_wrapper .Michael_art {
    float: left;
    width: 34vw;
    height: 55vh;
    margin-left: 50px;

}

#home_wrapper .text_Michael_legacy {
    float: right;
    width: 30vw;
    height: 30vh;
    margin-top: 10px;
    margin-right: 150px;
}

#home_wrapper h2 {
    float: right;
    width: 30vw;
    margin-top: 60px;
    margin-right: 150px;
}

/* About section */
section#about {
    background-color: #f4f3f3;
}

#about_wrapper {
    width: 80%;
    height: 800px;
    clear: both;
    margin: auto;
    margin-top: 120px;
}

#about_wrapper .head_Store_Michael {
    width: 35vw;
    height: 50vh;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}

#about_wrapper h2 {
    float: right;
    width: 30vw;
    margin-top: 30px;
    margin-right: 150px;
}

#about_wrapper .text_about_Michael {
    float: right;
    width: 30vw;
    height: 30vh;
    margin-top: 10px;
    margin-right: 150px;
}


/* Timeline Style section */
section#timelines {
    background-color: #a2a888;
}

section#timelines h2 {
    text-align: center;
}

.container {
    width: 95%;
    height: 600px;
    margin: auto;
}

.fa-circle {
    font-size: 40px;
}

.line_border {
    width: 100%;
    border: solid 4px black;
    margin-top: 258px;
    border-radius: 25px 25px 25px 25px;
}

.timeline {
    text-align: center;
}

.timeline li {
    list-style: none;
    float: left;
    width: 330px;
    height: 600px;
    margin: -259px 0 0 10px;

}

.circle_img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 5px;
}

#textbox {

    width: 250px;
    height: 300px;
    background-color: #f5f1e4;
    overflow-y: hidden;
    padding: 10px;
    border: inset 2px black;
    clear: both;
    margin: auto;
    transition: all 1s ease;
    z-index: 1000;
}

#textbox>span {
    margin-top: 0;
    margin-left: -30px;
    position: absolute;
}

#textbox:hover {
    width: 500px;
    position: relative;
    z-index: 1000;
}

.text_timeline {
    text-align: left;
    float: left;
    padding-top: 20px;
}