@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f4f3f3;
    font-family: 'Roboto', sans-serif;
}

/* content in the main page with setions */
#content {
    width: 100%
}

#dash-menu-wrapper {
    display: none;
}

#menupage {
    background-color: #7a7a7a;
    text-align: center;
    width: 100%;
    height: 153px;
    position: fixed;
    z-index: 2;
}

#menupage ul {
    list-style-type: none;
    margin: auto;

}

#menupage li {
    display: inline-block;
    float: none;
    font-size: 24px;
    padding-top: 65px;
}

#menupage a {
    text-decoration: none;
    color: #f5f1e4;
    padding: 10px 20px 0 20px;
}

#menupage a:hover {
    border-bottom: 3px solid #f5f1e4;
}

.active {
    border-bottom: 3px solid #f5f1e4;
}



/* Head logo */
#menupage img {
    float: left;
    width: 10%;
    height: 100%;
}

#menupage #head_logo {
    float: left;
}

#menupage .logo_text {
    float: left;
    font-size: 2em;
    margin-top: 3%;
    color: #f5f1e4;
}

/* Selection of pages */
section {
    width: 100%;
    padding-top: 160px;
}

/* Home Section */
section#home {
    background-color: #cdc3c3;
    height: fit-content;
    display: inline-block;
    padding-bottom: 5%;
}

.home_wrapper {
    width: 80%;
    height: 800px;
    clear: both;
    margin: auto;
    margin-top: 120px;
}

.home_wrapper .Michael_art {
    float: left;
    width: 34%;
    height: 55%;
    border: solid 1em #a2a888;

}

.home_wrapper .background_text {
    background-color: #a2a888;
    width: 45%;
    height: fit-content;
    float: right;
    margin-top: 0.5%;
    border: solid 1em #f4f3f3;
}

.home_wrapper .text_Michael_legacy {
    font-size: 1em;
    word-spacing: 2px;
    line-height: 1.6;
    float: right;
    margin: 1% 1% 2% 1%
}

.home_wrapper h2 {
    float: left;
    width: 30vw;
    margin: 2% 0 0 2%;
}

/* About section */
section#about {
    background-color: #f4f3f3;
    height: fit-content;
    display: inline-block;
    padding-bottom: 5%;
}

#about_wrapper {
    width: 90%;
    height: 600px;
    margin: auto;
    clear: both;
    margin-top: 120px;
}

#about_wrapper .head_Store_Michael {
    width: 45%;
    height: 90%;
    float: left;
    margin-left: 5%;
    margin-top: 1%;
    border: solid 1em #7a7a7a;
}

#about_wrapper h2 {
    max-width: 100%;
    text-align: left;
}

#about_wrapper .text_about_Michael {
    background-color: #a2a888;
    float: right;
    width: 35%;
    height: fit-content;
    font-size: 1em;
    border: solid 1em #7a7a7a;
    word-spacing: 2px;
    line-height: 1.6;
    margin: 1em 0 0 3em;
    padding: 2em;
}


/* Timeline section */
section#timelines {
    background-color: #a2a888;
    height: fit-content;
    padding-bottom: 10%;
}

section#timelines h2 {
    text-align: center;
}

/* I had experienced difficulty with a responsive timeline. I decide to copy 
from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_timeline  
and paste it here. I had a few modifications to make the position fit the screen*/

.container {
    width: 98%;
    margin: auto;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 53%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #7a7a7a;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: -25%;
}

/* Place the container to the right */
.right {
    left: 31.2%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.content p {
    text-align: left;
}

.content .circle_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 1px black;
    padding: 2%;
    transition: width 4s,
        height 4s;
}

.content .circle_img:hover {
    width: 220px;
    height: 220px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/* Section Museum */

section#museum {
    background-image: url("https://scontent.fdub5-1.fna.fbcdn.net/v/t1.6435-9/165215227_125522859583778_5199776069317048256_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=e3f864&_nc_ohc=RhuweWCyItcAX-oD6nj&_nc_ht=scontent.fdub5-1.fna&oh=00_AfD9cOhWpUgyw7n0wGzw6ZOlneVUzSrsdRCJnU7-bdb2KQ&oe=63C2D974");
    background-repeat: no-repeat;
    height: fit-content;
}

.museum_wrapper {
    width: 90%;
    height: 850px;
    background-color: #7a7a7a;
    display: block;
    margin: auto;
    clear: both;
    height: fit-content;
}

.museum_wrapper h2 {
    text-align: center;
    padding-top: 1%;
    color: #f5f1e4;
    font-size: 2em;
}

.img_and_text {
    width: 25%;
    height: fit-content;
    background-color: #cdc3c3;
    text-align: center;
    display: inline-block;
    padding-bottom: 3%;
    margin: 0 3% 3% 4.5%;
}

.img_and_text p {
    font-size: 1em;
}

.img_and_text h3 {
    font-size: 1.2em;
}

.img_and_text img {
    width: 100%;
    height: 230px;
}

/* button active outside site */
.outsite_site {
    text-decoration: none;
    color: #f5f1e4;
    padding: 0.5em;
    background-color: #7a7a7a;
}

.outsite_site:hover {
    color: black;
    background-color: #a2a888;
}

/* Contct section  */
section#contact {
    background-color: #cdc3c3;
    height: fit-content;
    padding-bottom: 10%;
}

/* content form centre both of the form and image */
.contact_and_img_wrapper {
    width: 70%;
    height: 620px;
    margin: auto;
    clear: both;
    padding: 50px 50px 80px 50px;
    background-color: #231f20;
    border-radius: 30px;
}

.head_logo_contact_wrapper {
    width: 30vw;
    height: 65vh;
    float: right;
    display: flexbox;

}

.contact_head_Michael_logo {
    width: 15%;
    height: 265px;
    margin-top: 130px;
    margin: 0 8%;
    display: block;
    position: absolute;
    z-index: 1;
}

.contact_Doric_logo {
    width: 30%;
    height: 450px;
    padding-top: 150px;
    display: block;
    margin: 0 1%;
    position: absolute;
    z-index: -.5;
}

/* form */
.contact-form {
    margin-top: 0;
    color: black;
    background-color: #a2a888;
    max-width: 500px;
    border-radius: 30px;
    left: 20%;
    padding: 30px;
    float: left;
}

.contact-form h2 {
    color: black;
    margin-bottom: 20px;
}

.text-input {
    color: #fafafa;
    width: 95%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;

}

.text-input:hover {
    border-color: #7a7a7a;
}

.message_box {
    color: black;
    width: 100%;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}

.message_box:hover {
    border-color: #7a7a7a;
}

/* button */
.join-button {
    width: 80%;
    margin-top: 20px;
    margin: auto;
    clear: both;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #7a7a7a;
    color: #f5f1e4;
    display: block;
}

.join-button:hover {
    background-color: #7a7a7a;
    color: black;
}

/* Footer section */

footer {
    background-color: #7a7a7a;
    width: 100%;
    height: 350px;
    margin-top: 0;
    border: solid 1px #7a7a7a;
}

/* Head logo */
.site_map img {
    float: left;
    margin-top: 2%;
    width: 10%;
    height: 10%;
}

.site_map .logo_text {
    float: left;
    font-size: 1.5em;
    margin-top: 7%;
    color: #f5f1e4;
}

/* site maps links */
.site_map p {
    color: #f5f1e4;
    margin-bottom: 0.3em;
    font-weight: bolder;
    font-size: 1.2em;

}

.site_map ul {
    list-style-type: none;
    margin: 2em 4em 0 0em;
    width: 10%;
    float: right;
}

.site_map li {
    float: none;
    font-size: 1.1em;
    padding-top: 0.3em;
}

.site_map a {
    text-decoration: none;
    color: #f5f1e4;
    padding: 0.3em 0.2em 0.3em 0.2em;
}

.site_map a:hover {
    background-color: #f5f1e4;
    color: #7a7a7a;
}

/* Social media icons */
.social_media_icons {
    width: 25%;
    height: 42%;
    text-align: center;
    margin: 5% 0 0 35%;
}

.social_media_icons span {
    color: #f5f1e4;
    font-size: 1.2em;
    font-weight: bolder;
}

.social_media_icons ul {
    list-style-type: none;
    max-width: 95%;
}

.social_media_icons li {
    float: none;
    display: inline-block;
    margin-left: 0;
}

.social_media_icons li .fa {
    padding: 20px;
    font-size: 25px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    border: solid 2px #f5f1e4;
    color: #f5f1e4;
}

.fa-twitter {
    border: solid 2px #f5f1e4;
    color: #f5f1e4;
}

.fa-youtube {
    border: solid 2px #f5f1e4;
    color: #f5f1e4;
}

.fa-instagram {
    border: solid 2px #f5f1e4;
    color: #f5f1e4;
}



/* meduim devices (portrait tablets and small laptop from 917px up to 1124px) */
@media only screen and (max-width: 1124px) {

    #menupage {
        height: 80px;
    }

    #menupage ul {
        list-style-type: none;
        float: right;
        margin: 2.4% 0 0 0;
    }

    #menupage li {
        display: inline-block;
        font-size: 1em;
        text-align: center;
        padding: 1% 0 0 0;
    }

    #menupage a {
        text-decoration: none;
        color: #f5f1e4;
    }

    #menupage a:hover {
        border-bottom: 3px solid #f5f1e4;
    }

    /* head logo vector */

    #menupage img {
        width: 10%;
    }

    /* beside head logo with the text*/
    #menupage .logo_text {
        font-size: 1.1em;
        margin-top: 3%;
    }

    .home_wrapper {
        width: 90%;
        margin: 0 auto;
        clear: both;
    }

    .home_wrapper .Michael_art {
        width: 40%;
        height: 40%;
        margin: 0 auto 5%;
        float: left;
        border: solid 1em #a2a888;

    }

    .home_wrapper .background_text {
        width: 45%;
        height: fit-content;
        float: right;

    }

    .home_wrapper .text_Michael_legacy {
        font-size: 1em;
        word-spacing: 2px;
        line-height: 1.6;
        padding: 3%;
    }

    .home_wrapper h2 {
        float: left;
        width: 95%;
    }

    /* responsive about section */

    #about_wrapper {
        width: 95%;
        margin: 0 auto;
        clear: both;
    }

    #about_wrapper .head_Store_Michael {
        width: 35%;
        height: 50%;
        margin: 0 auto 5%;
        border: solid 1em #7a7a7a;
    }

    #about_wrapper h2 {
        width: 100%;
        text-align: left;
    }

    #about_wrapper .text_about_Michael {
        background-color: #a2a888;
        border: solid 1em #7a7a7a;
        width: 45%;
        height: fit-content;
        float: right;
        margin: 0 auto;
    }

    #about_wrapper .text_about_Michael p {
        font-size: 1em;
        word-spacing: 2px;
        line-height: 1.6;
    }

    /* Timeline section responsiveness */

    .container {
        margin: 0 auto;
        clear: both;

    }

    section#timelines h2 {
        text-align: center;
        margin-top: 0;
    }

    .fa-circle {
        font-size: 15px;
    }

    .line_border {
        display: none;
    }


    .timeline li {
        list-style: none;
        display: inline-block;
        float: none;
        width: 16%;
        height: 200px;
        margin: 2% 0;
    }

    .circle_img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 5px;
        border: solid 2px #f5f1e4;
        padding: 3%;
    }

    /* Museum section resposiveness */
    section#museum {
        background-image: none;
        padding-bottom: 5%;
    }

    .museum_wrapper {
        margin-top: -10%;
    }

    .museum_wrapper h2 {
        font-size: 1.5em;
        padding-top: 5%;
    }

    .img_and_text {
        width: 25%;
        height: fit-content;
        margin: 5% 0 5% 5%;
        font-size: .5em;
    }

    .img_and_text h3 {
        font-size: 0.8em;
    }

    .img_and_text img {
        width: 100%;
        height: 140px;
    }

    /* contact section responsiveness */
    .contact_and_img_wrapper {
        width: 94%;
        height: 590px;
        background-color: #231f20;
        margin: -3% auto 5%;
        clear: both;
        padding: 0;
    }

    .head_logo_contact_wrapper {
        display: block;
        width: 30%;
        height: 50%;
        float: left;
        margin-top: 15%;
    }

    .contact_head_Michael_logo {
        display: block;
        width: 20%;
        height: 20%;
        margin-top: 6%;
    }

    .contact_Doric_logo {
        display: block;
        width: 35%;
        height: 20%;
        margin-top: 2%;
    }

    .contact-form {
        width: 50%;
        height: 530px;
        border-radius: 25px 0 0 25px;
    }

    .contact-form h2 {
        color: black;
        margin: 2% 0 2% 0;
    }

    .text-input {
        width: 95%;
        height: 18px;
        margin: 0 0 20px 0;
        border: 1px solid #fafafa;
        border-radius: 2px;

    }

    /* responsiveness footer section */

    /* Head logo */
    .site_map img {
        float: left;
        margin-top: 2%;
        width: 20%;
        height: 20%;
    }

    .site_map .logo_text {
        float: left;
        font-size: 1.2em;
        margin-top: 15%;
        margin-left: 5%;
        color: #f5f1e4;
    }

    /* Social media icons */
    footer {
        height: fit-content;
        margin-top: 0;
        border: solid 1px #7a7a7a;
    }

    /* site maps links */

    .site_map li p {
        color: #f5f1e4;
        margin-top: 0;
        max-width: 100%;
        font-weight: bolder;
        font-size: 1.2em;
    }

    .site_map ul {
        list-style-type: none;
        margin: auto;
        clear: both;
        width: 97%;
        float: right;
    }

    .site_map li {
        float: none;
        display: inline-block;
        font-size: 1em;
        padding: 3% 5% 5% 0;
    }

    .site_map a {
        text-decoration: none;
        color: #f5f1e4;
        padding: 2%;
    }

    .site_map a:hover {
        background-color: #f5f1e4;
        color: #7a7a7a;
    }

    /* Social media icons */
    .social_media_icons {
        width: 98%;
        height: 32%;
        text-align: left;
        margin: auto;
        clear: both;
    }

    .social_media_icons span {
        color: #f5f1e4;
        font-size: 1em;
        margin-left: 40%;
        font-weight: bolder;
    }

    .social_media_icons ul {
        list-style-type: none;
        max-width: 80%;
        text-align: center;
    }

    .social_media_icons li {
        float: none;
        display: inline-block;
        margin-left: 15px;
    }

    .social_media_icons li .fa {
        padding: 10px;
        font-size: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
}

/* Small devices (portrait tablets and large phones, from 600px up to 917px) */
@media only screen and (max-width: 917px) {

    #menupage {
        height: 80px;
    }

    #menupage ul {
        list-style-type: none;
        margin: 1% auto;
        clear: both;
        width: 100%;
    }

    #menupage li {
        display: block;
        font-size: 1em;
        text-align: center;
        padding: 15px 0 20px 0;
        background-color: #7a7a7a;
    }

    #menupage a {
        text-decoration: none;
        color: #f5f1e4;
    }

    #menupage a:hover {
        border-bottom: 3px solid #f5f1e4;
    }

    /* head logo vector */

    #menupage img {
        width: 15%;
    }

    /* beside head logo with the text*/
    #menupage .logo_text {
        font-size: 1.2em;
        margin-top: 3%;
    }

    /* create three dash for menu */
    #dash-menu-wrapper {
        display: block;
        float: right;
        position: relative;
        z-index: 7;
        margin: 2% 2% 0 0;
    }

    .dash-menu {
        width: 35px;
        height: 4px;
        background-color: #f5f1e4;
        margin: 6px 0;
        display: block;
    }

    .drop-btn {
        background-color: #7a7a7a;
        border: none;
    }

    .dropdown-content {
        display: none;
        position: relative;
        background-color: #7a7a7a;
        z-index: 1;
        top: -8px;
        margin: auto;
        clear: both;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .home_wrapper {
        width: 90%;
        margin: 0 auto;
        clear: both;
    }

    .home_wrapper .Michael_art {
        width: 90%;
        height: 70%;
        margin: 0 auto 5%;
        clear: both;
        float: left;
        border: solid 1em #a2a888;

    }

    .home_wrapper .background_text {
        width: 90%;
        height: fit-content;
        float: left;

    }

    .home_wrapper .text_Michael_legacy {
        font-size: 1em;
        word-spacing: 2px;
        line-height: 1.6;
        padding: 3%;
    }

    .home_wrapper h2 {
        float: left;
        width: 95%;
    }

    /* responsive about section */

    #about_wrapper {
        width: 95%;
        margin: 0 auto;
        clear: both;
    }

    #about_wrapper .head_Store_Michael {
        width: 95%;
        height: 80%;
        margin: 0 auto 5%;
        clear: both;
        border: solid 1em #7a7a7a;
    }

    #about_wrapper h2 {
        width: 100%;
        text-align: left;
    }

    #about_wrapper .text_about_Michael {
        background-color: #a2a888;
        border: solid 1em #7a7a7a;
        width: 83%;
        height: fit-content;
        float: left;
        margin: 0 auto;
        clear: both;
    }

    #about_wrapper .text_about_Michael p {
        font-size: 1em;
        word-spacing: 2px;
        line-height: 1.6;
    }

    /* Timeline section responsiveness */

    .container {
        margin: 0;

    }

    section#timelines h2 {
        text-align: center;
        margin-top: 0;
    }

    .fa-circle {
        font-size: 20px;
    }

    .line_border {
        display: none;
    }

    .timeline li {
        list-style: none;
        float: left;
        width: 100%;
        height: 600px;
        margin: 5% 0 10% -3%;
    }

    .circle_img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 5px;
        border: solid 2px #f5f1e4;
        padding: 2%;
    }

    /* Museum section resposiveness */
    section#museum {
        background-image: none;
        padding-bottom: 5%;
    }

    .museum_wrapper {
        margin-top: -10%;
    }

    .museum_wrapper h2 {
        font-size: 1.5em;
        padding-top: 10%;
    }

    .img_and_text {
        width: 90%;
        height: fit-content;
        margin: 5% 0 5% 5%;
    }

    .img_and_text h3 {
        font-size: 1.2em;
    }

    .img_and_text img {
        width: 100%;
        height: 290px;
    }

    /* contact section responsiveness */
    .contact_and_img_wrapper {
        width: 94%;
        height: 590px;
        background-color: #231f20;
        margin: -3% auto 5%;
        clear: both;
        padding: 0;
    }

    .head_logo_contact_wrapper {
        display: block;
        width: 30%;
        height: 50%;
        float: left;
        margin-top: 15%;
    }

    .contact_head_Michael_logo {
        display: block;
        width: 20%;
        height: 20%;
        margin-top: 8%;
    }

    .contact_Doric_logo {
        display: block;
        width: 35%;
        height: 20%;
        margin-top: 2%;
    }

    .contact-form {
        width: 50%;
        height: 530px;
        border-radius: 25px 0 0 25px;
    }

    .contact-form h2 {
        color: black;
        margin: 2% 0 2% 0;
    }

    .text-input {
        width: 95%;
        height: 18px;
        margin: 0 0 20px 0;
        border: 1px solid #fafafa;
        border-radius: 2px;

    }

    /* responsiveness footer section */

    /* Head logo */
    .site_map img {
        float: left;
        margin-top: 2%;
        width: 20%;
        height: 20%;
    }

    .site_map .logo_text {
        float: left;
        font-size: 1.2em;
        margin-top: 15%;
        margin-left: 5%;
        color: #f5f1e4;
    }

    /* Social media icons */
    footer {
        height: fit-content;
        margin-top: 0;
        border: solid 1px #7a7a7a;
    }

    /* site maps links */

    .site_map li p {
        color: #f5f1e4;
        margin-top: 0;
        max-width: 100%;
        font-weight: bolder;
        font-size: 1.2em;
    }

    .site_map ul {
        list-style-type: none;
        margin: auto;
        clear: both;
        width: 97%;
        float: right;
    }

    .site_map li {
        float: none;
        display: inline-block;
        font-size: 1em;
        padding: 3% 5% 5% 0;
    }

    .site_map a {
        text-decoration: none;
        color: #f5f1e4;
        padding: 2%;
    }

    .site_map a:hover {
        background-color: #f5f1e4;
        color: #7a7a7a;
    }

    /* Social media icons */
    .social_media_icons {
        width: 98%;
        height: 32%;
        text-align: left;
        margin: auto;
        clear: both;
    }

    .social_media_icons span {
        color: #f5f1e4;
        font-size: 1em;
        margin-left: 40%;
        font-weight: bolder;
    }

    .social_media_icons ul {
        list-style-type: none;
        max-width: 80%;
        text-align: center;
    }

    .social_media_icons li {
        float: none;
        display: inline-block;
        margin-left: 15px;
    }

    .social_media_icons li .fa {
        padding: 10px;
        font-size: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }


}

/* mobile standard responsiveness  for max 600px screen*/
@media only screen and (max-width: 600px) {

    /* beside head logo with the text*/
    #menupage .logo_text {
        margin-top: 8%;
    }

    /* create three dash for menu */
    #dash-menu-wrapper {
        margin: 6% 2% 0 0;
    }


    /* Home section resposiveness */

    .home_wrapper .Michael_art {
        width: 100%;
        height: 50%;
        border: solid 5px #a2a888;
        margin-top: 0%;

    }

    .home_wrapper .background_text {
        width: 100%;
        margin: 8% 0 5% 0;
        border: solid 5px #f4f3f3;

    }

    .home_wrapper .text_Michael_legacy {
        font-size: 1em;
        line-height: 1.6;
        margin: 5% 5% 5% 5%;
    }

    .home_wrapper h2 {
        width: 90%;
        text-align: left;
        font-size: 1.3em;
        margin: 5% 5% 2% 5%;
    }

    /* about section resposiveness */
    #about_wrapper {
        margin-top: -3%;
    }

    #about_wrapper .head_Store_Michael {
        border: solid 5px #7a7a7a;
        width: 100%;
        height: 65%;
        margin: auto;
        clear: both;
    }

    #about_wrapper h2 {
        text-align: left;
        font-size: 1.3em;
        width: 100%;
    }

    #about_wrapper .text_about_Michael {
        font-size: 1em;
        line-height: 1.6;
        border: solid 5px #7a7a7a;
        margin: auto;
        clear: both;
        margin-top: 5%;
        padding: 4%;
        width: fit-content;
    }

    /* Timeline section responsiveness */

    .container {
        margin: 0;

    }

    section#timelines h2 {
        text-align: center;
        margin-top: -20%;
    }

    .fa-circle {
        font-size: 20px;
    }

    .line_border {
        display: none;
    }

    .timeline li {
        list-style: none;
        float: left;
        width: 100%;
        height: 600px;
        margin: 5% 0 0 -3%;
    }

    .circle_img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-bottom: 5px;
        border: solid 2px black;
        padding: 2%;
    }

    .textbox {

        width: 80%;
        height: 300px;
        background-color: #f5f1e4;
        overflow-y: hidden;
        padding: 10px;
        border: inset 2px black;
        clear: both;
        margin: auto;
        transition: all 1s ease;
    }

    .text_timeline {
        text-align: left;
        padding-top: 20px;
    }

    .img_and_text {
        height: fit-content;
    }


    .img_and_text img {
        width: 100%;
        height: 200px;
    }

    .head_logo_contact_wrapper {
        display: none;
    }

    .contact_head_Michael_logo {
        display: none;
    }

    .contact_Doric_logo {
        display: none;
    }

    .contact-form {
        width: fit-content;
        margin: auto;
        clear: both;
        border-radius: 2%;
    }

    /* responsiveness footer section */



    /* site maps links */

    .site_map li {
        padding: 3% 3% 5% 0;
    }

    .site_map a {
        text-decoration: none;
        color: #f5f1e4;
        padding: 2%;
    }

    .site_map a:hover {
        background-color: #f5f1e4;
        color: #7a7a7a;
    }

    /* Social media icons */
    .social_media_icons {
        width: 98%;
        height: 32%;
        text-align: left;
        margin: auto;
        clear: both;
    }

    .social_media_icons span {
        color: #f5f1e4;
        font-size: 1em;
        margin-left: 2%;
        font-weight: bolder;
    }

    .social_media_icons ul {
        list-style-type: none;
        max-width: 80%;
    }

    .social_media_icons li {
        float: none;
        display: inline-block;
        margin-left: 15px;
    }

    .social_media_icons li .fa {
        padding: 10px;
        font-size: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }

}


/* smaller mobile responsiveness  for max 396px screen*/
@media only screen and (max-width: 398px) {

    /* head logo vector */
    #menupage img {
        width: 22%;
    }

    /* beside head logo with the text*/
    #menupage .logo_text {
        font-size: 0.9em;
        margin-top: 8%;
    }

    /* Timeline section responsiveness */

    .container {
        margin: 0;
    }

    section#timelines h2 {
        text-align: center;
        margin-top: -20%;
        font-size: 1.2em;
    }

    .timeline li {
        padding-bottom: 30%;
    }

    .timeline .textbox {

        width: 92%;
        margin-left: -5%;
    }

    /* Museum section resposiveness */
    section#museum {
        background-image: none;
        padding-bottom: 5%;
        background-color: #f4f3f3;
    }

    .img_and_text {
        height: fit-content;
    }

    .img_and_text h3 {
        font-size: 1.2em;
    }

    .img_and_text img {
        width: 100%;
        height: 160px;
    }

    .head_logo_contact_wrapper {
        display: none;
    }

    .contact_head_Michael_logo {
        display: none;
    }

    .contact_Doric_logo {
        display: none;
    }

    /* responsiveness footer section */

    /* Head logo */

    .site_map li {
        padding: 3% 0 5% 0;
        font-size: 0.8em;
    }

    .site_map img {
        float: left;
        margin-top: 2%;
        width: 20%;
        height: 20%;
    }

    .site_map .logo_text {
        float: left;
        font-size: 1em;
        margin-top: 8%;
        margin-left: 7%;
        color: #f5f1e4;
    }

    .social_media_icons li .fa {
        padding: 8px;
    }


}