@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f4f3f3;
    font-family: 'Roboto', sans-serif;
}

/* content in the main page with setions */
#content {

    overflow: hidden;
}

/* hide for dash menu button, will be show when responsive is active */
#dash-menu-wrapper {
    display: none;
}

/* top navbar menu */
#menupage {
    background-color: #252424;
    width: 100%;
    height: 153px;
    position: fixed;
    z-index: 2;
}

#menupage ul {
    list-style-type: none;
    float: right;
    position: relative;
    margin: -2% 4% 0 0;
}

#menupage li {
    display: inline-block;
    float: none;
    font-size: 30px;
}

#menupage a {
    text-decoration: none;
    color: #f5f1e4;
    padding: 10px 20px 0 20px;
}

#menupage a:hover {
    border-bottom: 3px solid #f5f1e4;
}

.active {
    border-bottom: 3px solid #f5f1e4;
}



/* Head logo */
#menupage img {
    float: left;
    margin-left: 0;
    width: 150px;
    height: auto;
    position: absolute;
    bottom: 0;
}

#menupage .logo_text {
    font-size: 2em;
    margin: 3% 0 0 10%;
    color: #f5f1e4;
    width: fit-content;
}

/* Selection of pages */
section {
    width: 99%;
    padding-top: 160px;
}

/* Home Section */
section#home {
    background-color: #cdc3c3;
    height: fit-content;
    display: inline-block;
    padding-bottom: 5%;
}

.home_wrapper {
    width: 96%;
    height: 710px;
    clear: both;
    margin: 3% auto;
}

.home_wrapper .Michael_art {
    float: left;
    width: 44%;
    height: auto;
    border: solid 1em #a2a888;

}

.home_wrapper .background_text {
    background-color: #a2a888;
    width: 42%;
    height: fit-content;
    float: right;
    margin: 0 0 0 2%;
    padding: 2%;
    border: solid 1em #f4f3f3;
}

.home_wrapper .text_Michael_legacy {
    font-size: 1.5em;
    word-spacing: 2px;
    line-height: 1.6;
    float: right;
    margin: 1% 1% 2% 1%
}

.home_wrapper h2 {
    float: left;
    width: 90%;
}

/* About section */
section#about {
    background-color: #f4f3f3;
    height: fit-content;
    display: inline-block;
    margin-top: 10%;
    padding-bottom: 8%;
}

#about_wrapper {
    width: 90%;
    margin: auto;
    clear: both;
}

#about_wrapper .head_Store_Michael {
    width: 45%;
    height: auto;
    float: left;
    margin-top: 8%;
    border: solid 1em #7a7a7a;
}

#about_wrapper h2 {
    max-width: 100%;
    text-align: left;
}

#about_wrapper .text_about_Michael {
    background-color: #a2a888;
    float: right;
    width: 38%;
    height: fit-content;
    font-size: 1.5em;
    border: solid 0.7em #7a7a7a;
    word-spacing: 2px;
    line-height: 1.6;
    margin: 8% 0 0 3%;
    padding: 3%;
}


/* Timeline section */
section#timelines {
    background-color: #a2a888;
    height: fit-content;
    padding-bottom: 10%;
}

section#timelines h2 {
    text-align: center;
}

/* I had experienced difficulty with a responsive timeline. I decide to copy 
from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_timeline  
and paste it here. I had a few modifications to make the position fit the screen and also responsiveness*/

.container {
    width: 98%;
    margin: auto;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 54%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #7a7a7a;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: -25%;
}

/* Place the container to the right */
.right {
    left: 32.5%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    word-spacing: 2px;
    line-height: 1.6;
}

.content p {
    text-align: left;
}

.content .circle_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 1px black;
    padding: 2%;
    transition: width 2s,
        height 2s;
}

.content .circle_img:hover {
    width: 220px;
    height: 220px;
}

.content .button-site {
    text-decoration: none;
    color: #f5f1e4;
    background-color: #7a7a7a;
    padding: 2%;
    word-wrap: break-word;
    word-spacing: 1.6px;
}

.content .button-site:hover {
    text-decoration: none;
    color: #f5f1e4;
    background-color: #a2a888;
}


/* Section Museum */

section#museum {
    background-image: url("https://scontent.fdub5-1.fna.fbcdn.net/v/t1.6435-9/165215227_125522859583778_5199776069317048256_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=e3f864&_nc_ohc=RhuweWCyItcAX-oD6nj&_nc_ht=scontent.fdub5-1.fna&oh=00_AfD9cOhWpUgyw7n0wGzw6ZOlneVUzSrsdRCJnU7-bdb2KQ&oe=63C2D974");
    background-repeat: no-repeat;
    height: fit-content;
    padding-bottom: 4%;
}

.museum_wrapper {
    width: 90%;
    height: 850px;
    background-color: #7a7a7a;
    display: block;
    margin: auto;
    clear: both;
    height: fit-content;
}

.museum_wrapper h2 {
    text-align: center;
    padding-top: 1%;
    color: #f5f1e4;
    font-size: 2em;
}

.img_and_text {
    width: 25%;
    height: fit-content;
    background-color: #cdc3c3;
    text-align: center;
    display: inline-block;
    padding-bottom: 3%;
    margin: 0 3% 3% 4.5%;
}

.img_and_text p {
    font-size: 1em;
}

.img_and_text h3 {
    font-size: 1.2em;
}

.img_and_text img {
    width: 100%;
    height: auto;
}

.first-img {
    margin-bottom: 7%;
}

/* button active outside site */
.outsite_site {
    text-decoration: none;
    color: #f5f1e4;
    padding: 0.5em;
    background-color: #7a7a7a;
}

.outsite_site:hover {
    color: black;
    background-color: #a2a888;
}

/* Contct section  */
section#contact {
    background-color: #cdc3c3;
    height: fit-content;
    padding-bottom: 10%;
}

/* content form centre both of the form and image */
.contact_and_img_wrapper {
    width: 70%;
    height: 650px;
    margin: auto;
    clear: both;
    padding: 50px 50px 80px 50px;
    background-color: #231f20;
    border-radius: 30px;
}

.head_logo_contact_wrapper img {
    width: 20%;
    height: auto;
    margin: 50px 0 0 180px;
}

/* form */
.contact-form {
    margin-top: 0;
    color: black;
    background-color: #a2a888;
    width: 45%;
    border-radius: 30px;
    left: 20%;
    padding: 30px;
    float: left;
}

.contact-form h2 {
    color: black;
    margin-bottom: 20px;
}

.text-input {
    color: black;
    width: 95%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;

}

.text-input:hover {
    border-color: #7a7a7a;
}

.message_box {
    color: black;
    width: 100%;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}

.message_box:hover {
    border-color: #7a7a7a;
}

/* button */
.join-button {
    width: 80%;
    margin-top: 20px;
    margin: auto;
    clear: both;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #7a7a7a;
    color: #f5f1e4;
    display: block;
}

.join-button:hover {
    background-color: #7a7a7a;
    color: black;
}

/* Footer section */

footer {
    background-color: #7a7a7a;
    width: 100%;
    height: fit-content;
    margin-top: 0;
    padding-bottom: 5%;
    border: solid 1px #7a7a7a;
}

/* Head logo */
.site_map img {
    float: left;
    margin-top: 2%;
    width: 10%;
    height: 10%;
}

.site_map .logo_text {
    float: left;
    font-size: 1.5em;
    margin-top: 7%;
    color: #f5f1e4;
}

/* site maps links */

.site_map ul {
    list-style-type: none;
    margin: 2em 4em 0 0em;
    width: 10%;
    float: right;
    color: #f5f1e4;
}

.site_map li {
    float: none;
    font-size: 1.1em;
    padding-top: 0.3em;
}

.site_map a {
    text-decoration: none;
    color: #f5f1e4;
    padding: 0.3em 0.2em 0.3em 0.2em;
}

.site_map a:hover {
    background-color: #f5f1e4;
    color: #7a7a7a;
}

/* Social media icons */
.social_media_icons {
    width: 40%;
    height: 42%;
    text-align: center;
    margin: 5% 0 0 30%;
}

.social_media_icons span {
    color: #f5f1e4;
    font-size: 1.2em;
    font-weight: bolder;
    margin: auto;
}

.social_media_icons ul {
    list-style-type: none;
}

.social_media_icons li {
    float: none;
    display: inline-block;
    margin-left: 0;
    padding-right: 5%;
}

.social_media_icons li .fa {
    padding: 25px;
    font-size: 27px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    border: solid 2px #f5f1e4;
    color: #f5f1e4;
}

.fa-twitter {
    border: solid 2px #f5f1e4;
    color: #f5f1e4;
}

.fa-youtube {
    border: solid 2px #f5f1e4;
    color: #f5f1e4;
}

.fa-instagram {
    border: solid 2px #f5f1e4;
    color: #f5f1e4;
}

/* large desktop focus on timeline responsive*/
@media only screen and (max-width: 1900px) {

    /* Place the container to the left */
    .left {
        left: -24%;
    }

    /* Place the container to the right */
    .right {
        left: 32%;
    }
}

/* large tablet and small laptop responsive*/
@media only screen and (max-width: 1354px) {

    #menupage {
        height: 90px;
    }

    #menupage ul {
        list-style-type: none;
        margin: -40px auto;
        width: fit-content;
        float: right;
    }

    #menupage li {
        display: inline-block;
        font-size: 1em;
        text-align: center;
        padding: 15px 0 10px 0;
        background-color: #252424;
    }

    #menupage a {
        text-decoration: none;
        color: #f5f1e4;
    }

    #menupage a:hover {
        border-bottom: 2px solid #f5f1e4;
    }

    /* head logo vector */

    #menupage {
        height: 100px;
    }

    #menupage img {
        width: 90px;
    }

    /* beside head logo with the text*/
    #menupage .logo_text {
        font-size: 1.2em;
        margin: 40px 0 0 90px;
    }

    .home_wrapper .Michael_art {
        width: 36%;
        height: auto;
        margin: 0 auto 2%;
        float: left;
        border: solid 1em #a2a888;

    }

    .home_wrapper .background_text {
        width: 46%;
        height: fit-content;
        float: right;
        margin-top: 0;
    }

    .home_wrapper .text_Michael_legacy {
        font-size: 1em;
        word-spacing: 2px;
        line-height: 1.6;
        padding: 3%;
    }

    .home_wrapper h2 {
        float: left;
        width: 95%;
    }

    /* responsive about section */

    #about_wrapper {
        width: 95%;
        margin: 0 auto;
        clear: both;
    }

    #about_wrapper .head_Store_Michael {
        width: 35%;
        height: auto;
        margin: 5% 0 0 2%;
        border: solid 1em #7a7a7a;
    }

    #about_wrapper h2 {
        width: 100%;
        text-align: left;
    }

    #about_wrapper .text_about_Michael {
        background-color: #a2a888;
        width: 42%;
        height: fit-content;
        float: right;
        margin: 5% auto;
    }

    #about_wrapper .text_about_Michael p {
        font-size: 1em;
        word-spacing: 2px;
        line-height: 1.6;
    }

    /* Timeline section responsiveness */

    .container {
        margin: 0 auto;
        clear: both;

    }

    /* The actual timeline (the vertical r13uler) */
    .timeline::after {
        margin-left: -4%;
    }

    /* Place the container to the left */
    .left {
        left: -30%;
    }

    /* Place the container to the right */
    .right {
        left: 30.5%;
    }


    section#timelines h2 {
        text-align: center;
        margin-top: 0;
    }


    .circle_img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 5px;
        border: solid 2px #f5f1e4;
        padding: 3%;
    }

    /* Museum section resposiveness */
    section#museum {
        background-image: none;
        padding-bottom: 5%;
    }

    .museum_wrapper {
        margin-top: -10%;
    }

    .museum_wrapper h2 {
        font-size: 1.5em;
        padding-top: 10%;
    }

    .img_and_text {
        width: 90%;
        height: fit-content;
        font-size: 1em;
        margin: 5% 0 5% 5%;
    }

    .img_and_text h3 {
        font-size: 1.8em;
    }

    .img_and_text img {
        width: 100%;
        height: auto;
    }

    /* contact section responsiveness */
    .contact_and_img_wrapper {
        width: 94%;
        height: 590px;
        background-color: #231f20;
        margin: -3% auto 5%;
        clear: both;
        padding: 0;
    }

    .head_logo_contact_wrapper img {
        width: 20%;
        height: auto;
        margin: 70px 0 0 100px;
        position: sticky;
    }


    .contact-form {
        width: 50%;
        height: 530px;
        border-radius: 25px 0 0 25px;
    }

    .contact-form h2 {
        color: black;
        margin: 2% 0 2% 0;
    }

    .text-input {
        width: 95%;
        height: 18px;
        margin: 0 0 20px 0;
        border: 1px solid #fafafa;
        border-radius: 2px;

    }

    /* responsiveness footer section */

    /* Head logo */
    .site_map img {
        float: left;
        margin-top: 2%;
        width: 20%;
        height: 20%;
    }

    .site_map .logo_text {
        float: left;
        font-size: 1.9em;
        margin-top: 15%;
        margin-left: 1%;
        color: #f5f1e4;
    }

    /* Social media icons */
    footer {
        height: fit-content;
        margin-top: 0;
        padding-bottom: 5%;
        text-align: center;
        border: solid 1px #7a7a7a;
    }

    /* site maps links */

    .site_map ul {
        list-style-type: none;
        margin: auto;
        clear: both;
        width: 97%;
        float: right;
    }

    .site_map li {
        float: none;
        display: inline-block;
        font-size: 1em;
        padding: 3% 5% 5% 0;
    }

    .site_map a {
        text-decoration: none;
        color: #f5f1e4;
        padding: 2%;
    }

    .site_map a:hover {
        background-color: #f5f1e4;
        color: #7a7a7a;
    }

    /* Social media icons */
    .social_media_icons {
        width: 98%;
        height: 32%;
        text-align: center;
        margin: auto;
        clear: both;
    }

    .social_media_icons ul {
        list-style-type: none;
        text-align: center;
        margin-left: -14%;
    }

    .social_media_icons li {
        float: none;
        display: inline-block;
        padding: 2% 0 0 5%;
    }

    .social_media_icons li .fa {
        padding: 10px;
        font-size: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }

}

/*tablet responsive from 650px up to 950px) */
@media only screen and (max-width: 950px) {
    #menupage {
        height: 90px;
    }

    #menupage ul {
        list-style-type: none;
        margin: 1% auto;
        clear: both;
        width: 100%;
    }

    #menupage li {
        display: block;
        font-size: 1em;
        text-align: center;
        padding: 15px 0 20px 0;
        background-color: #252424;
    }

    #menupage a {
        text-decoration: none;
        color: #f5f1e4;
    }

    #menupage a:hover {
        border-bottom: 3px solid #f5f1e4;
    }

    /* head logo vector */

    #menupage {
        height: 100px;
    }

    #menupage img {
        width: 90px;
    }

    /* beside head logo with the text*/
    #menupage .logo_text {
        font-size: 1.5em;
        margin: 4% 0 0 12%;
    }

    /* Three dash for menu */
    #dash-menu-wrapper {
        margin: -50px 25px 0 0;
        float: right;
        display: block;
    }

    .drop-btn {
        background-color: #252424;
        border: none;
        width: 70px;
        height: 70px;
        color: white;
        padding: 5px 8px;
        font-size: 36px;
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: relative;
        z-index: 1;
        top: -2px;
        margin: auto;
        clear: both;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Home section responsive */

    section#home {
        padding-bottom: 10%;
    }

    .home_wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .home_wrapper .Michael_art {
        width: 90%;
        height: auto;
        margin: 0 auto 5%;
        float: left;
        border: solid 1em #a2a888;

    }

    .home_wrapper .background_text {
        width: 86%;
        height: fit-content;
        margin-left: 0;
        float: left;

    }

    .home_wrapper .text_Michael_legacy {
        font-size: 1.5em;
        word-spacing: 2px;
        line-height: 1.6;
        padding: 3%;
    }

    .home_wrapper h2 {
        float: left;
        width: 95%;
    }


    /* responsive about section */

    #about_wrapper {
        width: 95%;
        height: 1250px;
        margin: 0 auto;
    }

    #about_wrapper .head_Store_Michael {
        width: 89%;
        height: auto;
        margin: 0 0 5% 1.5%;
        border: solid 1em #7a7a7a;
    }

    #about_wrapper h2 {
        text-align: left;
    }

    #about_wrapper .text_about_Michael {
        width: 86%;
        float: left;
        margin: 0 auto;
    }


    /* Timeline section responsiveness */

    .container {
        margin: 0 auto;
        clear: both;

    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        margin-left: -5%;
    }

    /* Place the container to the left */
    .left {
        left: -33%;
    }

    /* Place the container to the right */
    .right {
        left: 32%;
    }


    section#timelines h2 {
        text-align: center;
        margin-top: 0;
    }


    .circle_img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 5px;
        border: solid 2px #f5f1e4;
        padding: 3%;
    }

    /* Museum section resposiveness */
    section#museum {
        background-image: none;
        padding-bottom: 5%;
    }

    .museum_wrapper {
        margin-top: -10%;
    }

    .museum_wrapper h2 {
        font-size: 1.5em;
        padding-top: 10%;
    }

    .img_and_text {
        width: 90%;
        height: fit-content;
        font-size: 1em;
        margin: 5% 0 5% 5%;
    }

    .img_and_text h3 {
        font-size: 1.8em;
    }

    .img_and_text img {
        width: 100%;
        height: auto;
    }

    /* contact section responsiveness */
    .contact_and_img_wrapper {
        width: 94%;
        height: 590px;
        background-color: #231f20;
        margin: -3% auto 5%;
        clear: both;
        padding: 0;
    }

    .head_logo_contact_wrapper img {
        width: 20%;
        height: auto;
        margin: 20% 0 0 10%;
        position: sticky;
    }


    .contact-form {
        width: 50%;
        height: 530px;
        border-radius: 25px 0 0 25px;
    }

    .contact-form h2 {
        color: black;
        margin: 2% 0 2% 0;
    }

    .text-input {
        width: 95%;
        height: 18px;
        margin: 0 0 20px 0;
        border: 1px solid #fafafa;
        border-radius: 2px;

    }

    /* responsiveness footer section */

    /* Head logo */
    .site_map img {
        float: left;
        margin-top: 2%;
        width: 20%;
        height: 20%;
    }

    .site_map .logo_text {
        float: left;
        font-size: 1.9em;
        margin-top: 15%;
        margin-left: 1%;
        color: #f5f1e4;
    }

    /* Social media icons */
    footer {
        height: fit-content;
        margin-top: 0;
        padding-bottom: 5%;
        text-align: center;
        border: solid 1px #7a7a7a;
    }

    .site_map ul {
        list-style-type: none;
        margin: auto;
        clear: both;
        width: 97%;
        float: right;
    }

    .site_map li {
        float: none;
        display: inline-block;
        font-size: 1em;
        padding: 3% 5% 5% 0;
    }

    .site_map a {
        text-decoration: none;
        color: #f5f1e4;
        padding: 2%;
    }

    .site_map a:hover {
        background-color: #f5f1e4;
        color: #7a7a7a;
    }

    /* Social media icons */
    .social_media_icons {
        width: 98%;
        height: 32%;
        text-align: center;
        margin: auto;
        clear: both;
    }

    .social_media_icons ul {
        list-style-type: none;
        text-align: center;
        margin-left: -14%;
    }

    .social_media_icons li {
        float: none;
        display: inline-block;
        padding: 2% 0 0 5%;
    }

    .social_media_icons li .fa {
        padding: 10px;
        font-size: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
}

/* large devices large phones, from 450px up to 750px */
@media only screen and (max-width: 750px) {

    #menupage {
        height: 100px;
    }

    #menupage ul {
        list-style-type: none;
        margin: 1% auto;
        clear: both;
        width: 100%;
    }

    #menupage li {
        display: block;
        font-size: 1em;
        text-align: center;
        padding: 15px 0 20px 0;
        background-color: #252424;
    }

    #menupage a {
        text-decoration: none;
        color: #f5f1e4;
    }

    #menupage a:hover {
        border-bottom: 3px solid #f5f1e4;
    }

    /* head logo vector */

    #menupage img {
        width: 90px;
    }

    /* beside head logo with the text*/
    #menupage .logo_text {
        font-size: 1.4em;
        margin: 40px 0 0 90px;
    }

    /* Three dash for menu */
    #dash-menu-wrapper {
        margin: -48px 18px 0 0;
        float: right;
        display: block;
    }

    .drop-btn {
        background-color: #252424;
        border: none;
        color: white;
        padding: 5px 8px;
        font-size: 36px;
        cursor: pointer;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Home section responsive */

    section#home {
        padding-bottom: 10%;
    }

    .home_wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .home_wrapper .Michael_art {
        width: 90%;
        height: auto;
        margin: 0 auto 5%;
        float: left;
        border: solid 1em #a2a888;

    }

    .home_wrapper .background_text {
        width: 86%;
        height: fit-content;
        margin-left: 0;
        float: left;

    }

    .home_wrapper h2 {
        float: left;
        width: 95%;
    }

    /* About section responsive */

    #about_wrapper {
        width: 95%;
        margin: 0 auto;
    }

    #about_wrapper .head_Store_Michael {
        width: 89%;
        height: auto;
        margin: 0 0 5% 2%;
        border: solid 1em #7a7a7a;
    }

    #about_wrapper h2 {
        text-align: left;
    }

    #about_wrapper .text_about_Michael {
        width: 85%;
        float: left;
        margin: 0 auto;
    }

    /* Timeline section responsiveness */

    .container {
        margin: 0;
    }

    section#timelines h2 {
        text-align: center;
        margin: 10% auto;
        width: 80%;
        font-size: 1.8em;
    }

    section#timelines h2 {
        text-align: center;
        margin-top: 1%;
    }

    /* Place the timelime to the left */
    .timeline::after {
        left: 0;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        left: 3.5%;
    }

    /* Full-width containers */
    .container {
        width: 90%;
        padding-left: 70px;
        padding-right: 25px;
        margin-left: 21%;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 0;
    }

    /* Place the container to the left */
    .left {
        left: -25%;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: -25%;
    }

    .content h2 {
        font-size: 1.2em;
        padding-top: 18%;
    }

    /* Museum section resposiveness */
    section#museum {
        background-image: none;
        padding-bottom: 5%;
    }

    .museum_wrapper {
        margin-top: -10%;
    }

    .museum_wrapper h2 {
        font-size: 1.5em;
        padding-top: 10%;
    }

    .img_and_text {
        width: 90%;
        height: fit-content;
        font-size: 1em;
        margin: 5% 0 5% 5%;
    }

    .img_and_text h3 {
        font-size: 1.8em;
    }

    .img_and_text img {
        width: 100%;
        height: auto;
    }

    /* contact section responsiveness */

    .contact_and_img_wrapper {
        width: 94%;
        height: 590px;
        margin: -3% auto 5%;
        clear: both;
        padding: 0;
    }

    .head_logo_contact_wrapper img {
        width: 20%;
        height: auto;
        position: sticky;
        margin: 28% 0 0 12%;
    }

    .contact-form {
        width: 50%;
        height: 530px;
        border-radius: 25px 0 0 25px;
    }

    .contact-form h2 {
        color: black;
        margin: 2% 0 2% 0;
    }

    .text-input {
        width: 95%;
        height: 18px;
        margin: 0 0 20px 0;
        border: 1px solid #fafafa;
        border-radius: 2px;

    }

    /* responsiveness footer section */

    footer {
        text-align: center;
    }

    /* Head logo */
    .site_map img {
        float: left;
        margin-top: 2%;
        width: 20%;
        height: 20%;
    }

    .site_map .logo_text {
        float: left;
        font-size: 1.2em;
        margin-top: 12%;
        margin-left: 3%;
        color: #f5f1e4;
    }

    /* site maps links */

    .site_map ul {
        list-style-type: none;
        margin: auto;
        width: 100%;
    }

    .site_map li {
        float: none;
        display: inline-block;
        font-size: 1em;
        padding: 3% 0.5% 5% 0;
    }

    /* Social media icons */
    .social_media_icons {
        width: 100%;
        height: 32%;
        text-align: center;
        margin: auto;
    }

    .social_media_icons ul {
        list-style-type: none;
        width: 90%;
        margin-left: -5%;
    }

    .social_media_icons li {
        float: none;
        display: inline-block;
        padding-right: 0;
        margin: 1%;
    }

    .social_media_icons li .fa {
        padding: 10px;
        font-size: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }


}

/* mobile standard responsiveness  for max 450px screen*/
@media only screen and (max-width: 450px) {

    /* Three dash for menu */
    #dash-menu-wrapper {
        margin: -48px 15px 0 0;
    }

    .drop-btn {
        background-color: #252424;
        width: 50px;
        height: 50px;
        border: none;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }

    #menupage {
        height: 80px;
    }


    /* head logo vector */
    #menupage img {
        width: 80px;
    }

    /* beside head logo with the text*/
    #menupage .logo_text {
        font-size: 1em;
        margin: 30px 0 0 70px;
    }


    /* Three dash for menu */
    #dash-menu-wrapper {
        margin: -30px 20px 0 0;
    }

    .dash-menu {
        width: 35px;
        height: 4px;
    }

    /* home section responsive */
    section#home {
        padding-bottom: 15%;
    }

    .home_wrapper .Michael_art {
        width: 95%;
        height: auto;
        margin: 0 0 5% 0;
        border: solid 0.5em #a2a888;
    }

    .home_wrapper .background_text {
        background-color: #a2a888;
        width: 91%;
        border: solid 0.5em #f4f3f3;
        margin-left: 0;
    }


    /* about section resposiveness */

    #about_wrapper {
        margin: 0 auto;
        width: 90%;
    }

    #about_wrapper .head_Store_Michael {
        border: solid 0.5em #cdc3c3;
        width: 95%;
        height: auto;
        margin: auto;
    }

    #about_wrapper h2 {
        text-align: left;
        font-size: 1.3em;
        width: 97%;
    }

    #about_wrapper .text_about_Michael {
        border: solid 0.5em #cdc3c3;
        width: 89%;
        margin-top: 8%;
    }

    /* Timline section resposive */

    section#timelines h2 {
        text-align: center;
        font-size: 1.5em;
        width: 90%;
    }

    .container {
        width: 110%;
        margin: 0 0 5% 20%;
        clear: both;
        padding: 0;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        display: none;
    }

    /* The circles on the timeline */
    .container::after {
        display: none;
    }

    /* contact section responsive */
    .contact_and_img_wrapper {
        background-color: #cdc3c3;
    }

    .head_logo_contact_wrapper img {
        display: none;
    }


    .head_logo_contact_wrapper img {
        display: none;
    }

    .contact-form {
        width: fit-content;
        border-radius: 2%;
    }

    /* responsiveness footer section */
    footer {
        text-align: center;
    }

    .site_map .logo_text {
        float: left;
        font-size: 1.2em;
        margin-top: 12%;
        margin-left: 3%;
        color: #f5f1e4;
    }

    /* site maps links */

    .site_map li {
        padding: 3% 3% 5% 0;
        display: inline-block;
        width: 90%;
        margin: auto;
    }

    .site_map a {
        text-decoration: none;
        color: #f5f1e4;
        padding: 2%;
    }

    .site_map a:hover {
        background-color: #f5f1e4;
        color: #7a7a7a;
    }

    /* Social media icons */
    .social_media_icons {
        width: 100%;
        height: 32%;
        text-align: center;
        margin: auto;
    }

    .social_media_icons ul {
        list-style-type: none;
        width: 90%;
        margin-left: -9%;
    }

    .social_media_icons li {
        float: none;
        display: inline-block;
        padding-right: 0;
        margin: 1%;
    }

}


/* smaller mobile responsiveness  for max 350px screen*/
@media only screen and (max-width: 350px) {

    /* Three dash for menu */
    #dash-menu-wrapper {
        margin: -35px 8px 0 0;
    }

    .drop-btn {
        background-color: #252424;
        border: none;
        color: white;
        padding: 5px 8px;
        font-size: 26px;
        cursor: pointer;
    }

    /* head logo vector */
    #menupage img {
        width: 70px;
    }

    /* beside head logo with the text*/
    #menupage .logo_text {
        font-size: 0.9em;
        margin: 35px 0 0 60px;
    }

    /* home section responsive */
    section#home {
        padding-bottom: 15%;
    }

    .home_wrapper {
        margin: -5% auto;
        width: 93%;
    }

    .home_wrapper .Michael_art {
        float: left;
        width: 93.5%;
        height: auto;
        border: solid 0.5em #a2a888;
        margin: -5% 0 5% 0
    }

    .home_wrapper .background_text {
        background-color: #a2a888;
        width: 89.5%;
        border: solid 0.5em #f4f3f3;
    }

    .home_wrapper h2 {
        width: 90%;
        padding: 2%;
        font-size: 1.2em;
    }

    /* responsive about section */

    #about_wrapper {
        margin: -5% auto;
        width: 93%;
    }

    #about_wrapper .head_Store_Michael {
        width: 93%;
        height: auto;
        margin: 0 0 7% 0;
        border: solid 0.5em #cdc3c3;
    }

    #about_wrapper h2 {
        width: 100%;
        text-align: left;
        font-size: 1.2em;
    }

    #about_wrapper .text_about_Michael {
        background-color: #a2a888;
        border: solid 0.5em #cdc3c3;
        width: 87%;
        margin: 0 auto;
    }

    #about_wrapper .text_about_Michael p {
        font-size: 1em;
        word-spacing: 2px;
        line-height: 1.6;
    }

    /* Timeline section responsiveness */

    .container {
        margin: 0;

    }

    section#timelines h2 {
        text-align: center;
        padding-top: 9%;
        width: 90%;
    }


    /* Timeline section responsiveness */
    section#timelines h2 {
        text-align: center;
        margin: -20% auto;
        font-size: 1.2em;
    }

    .container {
        margin: 24% 20% 0 20%;
        width: 100%;
        padding: 0;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        display: none;
    }

    /* The circles on the timeline */
    .container::after {
        display: none;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline {
        max-width: 100%;
        margin-left: 10%;
    }

    /* Add arrows to the left container (pointing right) */
    .left::before {
        display: none;
    }

    /* Add arrows to the right container (pointing left) */
    .right::before {
        display: none;
    }

    /* Museum section resposiveness */
    section#museum {
        background-image: none;
        background-color: #f4f3f3;
    }

    .museum_wrapper {
        width: 90%;
        margin: -25% auto 12%;

    }

    .img_and_text p {
        font-size: 0.8em;
        line-height: 1.2;
    }

    .img_and_text h3 {
        font-size: 1em;
    }

    .img_and_text img {
        width: 100%;
        height: auto;
    }

    /* contact section responsive */

    .head_logo_contact_wrapper {
        display: none;
    }

    .contact_head_Michael_logo {
        display: none;
    }

    .contact_Doric_logo {
        display: none;
    }

    /* form */
    .contact-form {
        width: 80%;
    }


    /* responsiveness footer section */

    footer {
        text-align: center;
    }

    .site_map li {
        padding: 0 5% 5% 0;
        font-size: 0.9em;
        display: block;
    }

    .site_map img {
        float: left;
        margin-top: 2%;
        width: 20%;
        height: 20%;
    }

    .site_map .logo_text {
        float: left;
        font-size: 1em;
        color: #f5f1e4;
    }

    /* Social media icons */
    .social_media_icons {
        width: 100%;
        height: 32%;
        text-align: center;
        margin: auto;
    }

    .social_media_icons ul {
        list-style-type: none;
        width: 90%;
        margin-left: -9%;
    }

    .social_media_icons li {
        float: none;
        display: inline-block;
        padding-right: 0;
        margin: 1%;
    }
}

/* smaller mobile  responsiveness */
@media only screen and (max-width: 320px) {

    /* about section resposiveness */

    #about_wrapper {
        margin: -2% auto;
        width: 90%;
        background-color: #7a7a7a;
    }

    #about_wrapper .head_Store_Michael {
        border: solid 0.5em #cdc3c3;
        width: 94%;
        height: auto;
        margin: auto;
    }

    #about_wrapper h2 {
        text-align: left;
        font-size: 1.3em;
        width: 97%;
    }

    #about_wrapper .text_about_Michael {
        border: solid 0.5em #cdc3c3;
        width: 89%;
        margin-top: 8%;
    }

    /* form */
    .contact-form {
        width: 78%;
    }

    /* responsiveness footer section */

    footer {
        text-align: center;
    }

    .site_map li {
        padding: 3% 0 5% 0;
        font-size: 0.8em;
        display: block;
        margin: auto;
    }

    .site_map img {
        float: left;
        margin-top: 2%;
        width: 20%;
        height: auto;
    }

    .site_map .logo_text {
        float: left;
        font-size: 1.2em;
        margin-top: 12%;
        margin-left: 3%;
        color: #f5f1e4;
    }

    /* Social media icons */
    .social_media_icons {
        width: 100%;
        height: 32%;
        text-align: center;
        margin: auto;
    }

    .social_media_icons ul {
        list-style-type: none;
        width: 90%;
    }

    .social_media_icons li {
        float: none;
        display: inline-block;
        padding-right: 1%;
        margin: 0.5%;
    }
}