@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.red {
    border: red solid 3px !important;
}

.blue {
    border: blue solid 3px !important;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f4f3f3;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

/* content in the main page with setions */
#content {
    overflow: hidden;
}

/* top navbar menu */
.navbar {
    background-color: #252424;
    color: #f5f1e4 !important;
}

.navbar-nav {
    float: right !important;
}

.nav-link {
    color: #f5f1e4 !important;
    font-size: 1.4em !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(245,241,228,1.000)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Click to active the page */

nav a:hover {
    border-bottom: 3px solid #f5f1e4;
}

nav .active {
    border-bottom: 3px solid #f5f1e4;
}

/* Head logo */
.img-fluid {
    max-width: 100% !important;
}

.navbar-brand {
    width: 30%;
}

/* Selection of pages */
section {
    width: 100%;
    padding-top: 200px;
}

/* disable click on the image to prevent interrupted to the external site. */
/* serach on 3WC School to find disable click so I found at https://www.w3schools.com/cssref/css3_pr_pointer-events.php */
.none_click {
    pointer-events: none;
    border: solid 1em #a2a888;
    width: 75%;
}

/* Home Section */
section#home {
    background-color: #cdc3c3;
    height: fit-content;
    display: inline-block;
    padding-bottom: 6rem;
}

.background_text {
    background-color: #a2a888;
    width: 72%;
    border: solid 1em #f4f3f3;
    margin: auto;
    font-size: 1.3em;
}


/* About section */
section#about {
    background-color: #f4f3f3;
    height: fit-content;
    display: inline-block;
    padding-bottom: 22rem;
}

.head_Store_Michael {
    max-width: 100%;
    border: solid 1em #7a7a7a;
}

.text_about_Michael {
    background-color: #a2a888;
    width: 72%;
    font-size: 1.5em;
    border: solid 0.7em #7a7a7a;
    word-spacing: 2px;
    line-height: 1.6;
    padding: 3rem;
    margin: auto;
}


/* Timeline section */

#timelines {
    background-color: #a2a888;
}

h2 {
    text-decoration-line: underline;
}

#timelines .container {
    padding: 50px 10px;
    position: relative;
    overflow: hidden;
}

#timelines .container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    z-index: 1;

}

.timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.timeline-block-right {
    float: right;
}

.timeline-block-left {
    float: left;
    direction: rtl;
}

.circle_img {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    border: solid 1px black;
    padding: 1em;
    object-fit: cover;
}

.timeline-content {
    direction: ltr;
    background-color: #eee;
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 5px solid #000;
    background: #eee;
    margin-top: 10px;
    z-index: 999;
}

.timeline-content {
    width: 95%;
    padding: 15px 15px;
    color: #3a3838;
    text-align: start;
    margin: 0;
}

.timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.timeline-content span {
    font-size: 15px;
    color: #656363;
}

.timeline-content p {
    font-size: 14px;
    line-height: 1.5;
    word-spacing: 1px;
    color: #3a3838;
    padding-left: 30px;
}

.timeline-content ul {
    font-size: 14px;
    line-height: 1.5;
    word-spacing: 1px;
    color: #3a3838;
    text-align: start;
    padding-left: 30px;
}

@media screen and (max-width: 768px) {
    #experience .container:before {
        left: 8px;
        width: 2px;
    }

    .timeline-block {
        width: 100%;
        margin-bottom: 30px;
    }

    .timeline-block-right {
        float: none;
    }

    .timeline-block-left {
        float: none;
        direction: ltr;
    }
}

/* Section Museum */

section#museum {
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    padding-bottom: 4%;
}

.bg-card {
    background-color: #a2a888;
}

/* button active outside site */
.outsite_site {
    text-decoration: none;
    color: #f5f1e4;
    padding: 0.5em;
    background-color: #4D4D4D;
}

.outsite_site:hover {
    color: black;
    background-color: #a2a888;
}

/* Contct section  */
section#contact {
    background-color: #cdc3c3;
    height: fit-content;
    padding-bottom: 10%;
}

/* content form centre both of the form and image */
.contact_and_img_wrapper {
    background-color: #231f20;
    border-radius: 30px;
}

/* .head_logo_contact_wrapper img {
    width: 20%;
    height: auto;
    margin-top: 50px;
    border: solid 2px pink;
} */

/* form */
.contact-form {
    color: black;
    background-color: #a2a888;
    border-radius: 30px;
    padding: 30px;
    font-size: 1em;
}


.contact-form h2 {
    color: black;
    margin-bottom: 20px;
    font-size: 1.8em;
}

/* button */
.btn-dark {
    background-color: #4D4D4D !important;
    color: #f5f1e4 !important;
}

.btn-dark:hover {
    background-color: #7a7a7a !important;
    color: black !important;
}

/* Footer section */

footer {
    background-color: #231f20;
    width: 100%;
    border: solid 1px #231f20;
}

/* Social media icons */

.head_text {
    font-size: 1.2em;
    padding: 10px;
    color: #f4f3f3;
}

.bi {
    font-size: 1em !important;
    color: #f5f1e4;
    border: solid 2px #f5f1e4;
}

.bi:hover {
    color: #a2a888;
}

/* Title bottom reserved */

.RQ-designed {
    color: #f5f1e4;
    font-size: 1em;
    text-align: center;
    padding-top: 35px;
}

/* large devices large phones, from 450px up to 750px */
@media only screen and (max-width: 1192px) {
    /* contact responsiveness to hide image of logo */

    .head_logo_contact_wrapper img {
        display: none;
    }
}